.stock_forecast_container {
    background-color: var(--color-white);
    width: 80vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stock_forecast_container * {
    background-color: var(--color-white);
}

.stock_forecast_wrapper {
    width: 95%;
    height: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
    position: relative;
}
.stock_forecast_top_title {
    align-self: flex-start;
}
.stock_forecast_PI_logo {
    margin-top: 5vw;
    width: 25vw;
}

.stock_forecast_carousel {
    display: flex;
    overflow: hidden; 
    width: 100%;
    position: relative;
}

.carousel_track {
    display: flex;
    will-change: transform;
    margin-top: 10vh;
}

.carousel_img {
    width: 12vw;
    height: auto;
    flex-shrink: 0;
    margin-right: 2vw; 
}

textarea {
    width: 73vw;
    border: 1px solid var(--color-borderGrey);
    background-color: var(--color-warmGrey) !important;
    border-radius: 1.5vw;
    
    padding-left: 1.5vw;
    padding-top: 1.2vw;

    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-extraThin);
    letter-spacing: var(--font-spacing-h3);
    resize: none;
}

/* Placeholder 스타일 */
#stock_forecast_chat_input::placeholder {
}

#stock_forecast_chat_input:focus {
    outline: none; /* 포커스 상태에서 테두리 제거 */
}

.stock_forecast_chat_wrapper {
    width: 75vw;
    height: 80%;
    overflow: auto;
    border: 1px solid;
    flex-direction: column;
}

.user_chat {
    align-self: flex-end;
    background-color: var(--color-warmGrey);
    border: 1px solid var(--color-borderGrey);
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
}

.answer_chat {
    display: flex;
    gap: 1vw;
}
.answer_chat_text {
    background-color: var(--color-warmGrey);
    border: 1px solid var(--color-borderGrey);
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}